/* Header */
.nav_link{
    font-size: small;
    padding-right: 1vw;
}

/* Hero Section */
.hero_section{
    background-color: #A0F1BD;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
}
.hero_section_text{
    width: 50vw;
    flex-flow: column;
    display: flex;
}
.hero_section_heading{
    font-size: 5vw;
    font-weight: 500;
}
.hero_section_para{
    margin-top: 15px;
    font-size: 1vw;
}
.hero_section_img{
    max-width: fit-content;
}
.btn_hero{
    margin-top: 50px;
}

/* Services Section */
.services_section{
    height: 60vh;
    width: 60vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 15%;
    gap: 30px;
}
.services_section_para{
    margin: 0px 10px 0px 10px;
    font-size: 1vw;
}
.services_section_heading{
    font-size: 4vw;
    font-weight: 500;
}
.btn_services{
    width: 7vw;
}

/* Banner Cards */
.banner_section{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 6vh;
    margin-top: 80px;
}
.banner_section_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D2F8DC;
    width: 70vw;
    height: 55vh;
    border-radius: 15px;
    gap: 6vw;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.404);
    /* overflow:scroll; */
}

.banner_section_text_section{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    width: 30vw;
    gap: 40px;
}
.banner_section_text_heading{
    font-size: 2.8vw;
    font-weight: 500;
}
.banner_section_text_para{
    font-size: 1vw;
}
.banner_section_badges_section{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1vw;
}
.banner_section_badge{
    color: rgb(48, 48, 48);
    font-weight: 300;
    font-size: 1vw;
    border-radius: 8px;
    width: 7vw;
    height: 5vh;
    background-color: white;
    text-align: center;
    align-content: center;
    overflow-x: auto;
}

/* Review Section */
.review_section{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 80px;
    gap: 90px;
}
.review_section_heading{
    font-size: 4.5vw;
    font-weight: 500;
}
.review_section_para{
    font-size: 1.2vw;
}
.review_section_reviewtext{
    font-weight: 300;
}
.review_section_box{
    display: flex;
    justify-content: center;
    gap: 10vw;
    height: 60vh;
    width: 80vw;
}
.review_section_qote_section{
    display: flex;
    flex-flow: column;
    gap: 20px;
    border-left: gray solid 1px;
    padding: 0% 2%;
    height: 100%;
}
.review_section_reviewer_selection{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.review_section_reviewer_box{
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: 20vw;
    height: 20vh;
    padding: 0% 5%;
    border-radius: 15px;
}
.reviewer_active{
    background-color: #2E4F21;
    
}
.reviewer_active .reviewer_box_heading, .reviewer_active .reviewer_box_para{
    color: white !important;
}
.reviewer_box_heading{
    border-top: solid gray 1px;
    color: rgba(0, 0, 0, 0.685);
    font-weight: 500;
    display: block;
    padding-top: 10px;
    width: 100%;
}
.reviewer_box_para{
    color: rgba(0, 0, 0, 0.685);
    font-weight: 500;
    font-size: 0.7vw;
}

/* Break Section */
.break_section{
    background-image: url("../Assets/Image\ break\ section-1.png");
    height: 90vh;
    width: 94%;
    background-size: cover;
    background-position: 70% 80%;
    margin-top: 80px;
}

/* Banefite Moto */
.Benefits_section{
    display: flex;
    flex-flow: column;
    gap: 50vh;
}
.company_moto_section{
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 80px;
}
.company_moto_section_heading{
    font-size: 4.6vw;
    font-weight: 100;
}
.company_moto_section_para{
    padding-top: 10px;
    width: 50vw;
    font-size: 1vw;
}
.company_benefit_info_section{
    display: flex;
    justify-content: center;
    gap: 5vw;
}
.company_benefit_info_box{
    display: flex;
    flex-flow: column;
    gap: 3vh;
    border-left: gray solid 2px;
    padding-left: 3vw;
    width: 22vw;
}
.company_benefit_info_box_heading{
    font-weight: 200;
    font-size: 2.4vw;
}
.company_benefit_info_box_para{
    font-weight: 100;
}

/* CTA section */
.CTA_section{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 5vw;
    height: 50vh;
}
.CTA_section_card{
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
    background-color: #2E4F21;
    border-radius: 20px;
    width: 40vw;
    padding-left: 4vw;
    padding-right: 4vw;
    gap: 30px;
}
.CTA_section_card_heading{
    color: white;
    font-weight: 300;
    font-size: 3vw;
}
.CTA_section_card_para{
    color: white;
}
.CTA_section_img{
    border-radius: 20px;
    width: 40vw;
    background-image: url("../Assets/CTA\ Image.png");
    background-size: cover;
}
.btn_CTA{
    background-color: white;
    color: black;
    width: 6vw;
}

/* E */

/* Events */
.banner_section_badge:hover{
    animation: _hover_effect 0.5s ease-in-out forwards;
}
.btn_services:hover{
    animation: _hover_effect 0.7s ease-in-out forwards;
}
.btn_CTA:hover{
    animation: _hover_effect 0.5s ease-in-out forwards;
}

/* Animations */
@keyframes _hover_effect{
    0% {background-color: white; color: rgb(48, 48, 48);}
    100% {background-color: #A0F1BD; color: black;}
}