/* Header */
.nav_link{
    font-size: small;
    padding-right: 1vw;
}

/* Hero Section */
.hero_section{
    background-color: #A0F1BD;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
}
.hero_section_text{
    width: 50vw;
    flex-flow: column;
    display: flex;
}
.hero_section_heading{
    font-size: 80px;
    font-weight: 500;
}
.hero_section_para{
    margin-top: 15px;
}
.hero_section_img{
    max-width: fit-content;
}
.btn_hero{
    margin-top: 50px;
}

/* Services Section */
.services_section{
    height: 70vh;
    width: 70vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.services_section_para{
    margin: 0px 10px 0px 10px;
}
.services_section_heading{
    font-size: 60px;
    font-weight: 500;
}
.btn_services{

}

/* Events */


/* Animations */