@import url("https://fonts.googleapis.com/css?family=Work Sans");

/* Desktop Screan */
body {
    margin: 0;
    font-family: 'Work Sans';
}

header>*,
section>* {
    padding: 0% 3%;
}

/* NavBar */
nav {
    background-color: #A0F1BD;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_link {
    font-size: small;
    padding-right: 1vw;
}

.btn {
    background-color: #2E4F21;
    border: none;
    border-radius: 20px;
    color: white;
    height: 40px;
    width: 11vw;
    font-weight: 400;
    cursor: pointer;
    font-size: x-small;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: #2E4F21;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #2E4F21;
    font-weight: 700;
}

/* Footer */
.footer_section {
    height: 60vh;
    background-color: #2E4F21;
    margin-top: 80px;
    padding: 2%;
    display: flex;
    gap: 5vw;
    justify-content: space-between;
}

.footer_box {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
    width: 50vw;
}

.footer_title {
    color: white !important;
    font-weight: 200;
}

.footer_small_text {
    color: white;
    font-size: 0.7vw;
}

.footer_link {
    color: white;
    font-size: small;
    padding-right: 1vw;
    font-weight: 100;
}

.btn_footer {
    color: black;
    background-color: white;
}

/* Events */
.btn:hover {
    animation: btn_hover_effect 0.7s ease-in-out forwards;
}

.btn_footer:hover {
    animation: btn_footer_hover_effect 0.7s ease-in-out forwards;
}

/* Tablet Screan */
@media (min-width: 800px) and (max-width: 1279px) {
    /* NavBar */
    nav {
        background-color: #A0F1BD;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav_link {
        font-size: small;
        padding-right: 1vw;
    }

    /* Footer */
    .footer_section {
        height: 60vh;
        background-color: #2E4F21;
        margin-top: 80px;
        padding: 2%;
        display: flex;
        gap: 5vw;
        justify-content: space-between;
    }

    .footer_box {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: start;
        height: 100%;
        width: 50vw;
    }

    .footer_title {
        color: white !important;
        font-weight: 200;
    }

    .footer_small_text {
        color: white;
        font-size: 1vw;
    }

    .footer_link {
        color: white;
        font-size: small;
        padding-right: 20vw;
        font-weight: 100;
    }

    .btn_footer {
        color: black;
        background-color: white;
    }

    /* Events */
    .btn:hover {
        animation: btn_hover_effect 0.7s ease-in-out forwards;
    }

    .btn_footer:hover {
        animation: btn_footer_hover_effect 0.7s ease-in-out forwards;
    }
}

/* Animations */
@keyframes btn_hover_effect {
    0% {
        background-color: #2E4F21;
        color: white;
    }

    100% {
        background-color: white;
        color: #2E4F21;
    }
}

@keyframes btn_footer_hover_effect {
    0% {
        background-color: white;
        color: black;
    }

    100% {
        background-color: #A0F1BD;
        color: black;
    }
}